a {
	text-decoration: none;
	margin-right: 3.1rem;
	margin-left: 1.5rem;
	color: white;
}
.navbar1{
	background: #444444;
	height: 90px;
	width:100%
}
.signInUp{
    margin-top: -0.3rem;
	display: -webkit-inline-flex;
	margin-right: 30px;
}

.contentnavbar{
	margin-left:15px;
	margin-top: -11vmin;
	width: 100%;
}
div ul {
	display: grid;
	grid-auto-flow:column;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	font-size: 105%;
	width:70%;
}
.search{
	border-radius: 15px;
	height:fit-content;
}
a:hover{
	color: red;
}
.footer {
	width: 100%;
	height: 210px;

	background: #444444;
}
h1{

    color: white;
    font-family:sans-serif;
}
.icon{
		color: white;
}
i{
	margin-right: 2vw;
	display: inline;
	color: white;
	
}

h3{
		display: inline;
		font-size: 15px;
		color: white;
}


table{
	width:100%;
	margin-left: 0px;
}

td{
	padding: 5px;
	width: 150px;
	min-height: min-content;
	height: 50px;
	min-height: min-content;
	text-align: left;
	display: inline-flexbox;
}




