<!--Mohamed halim Elleuch !-->

{% extends "index.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="static/style.css">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="about" id='about'>
        <h2>About</h2>
        <div class="main">
            <div>
            <img src="static/media/Abdo-min.png">
            <div class="pagination">
                <a href="#">❮</a>
                <a href="#">❯</a>
              </div>
            </div>
            <div class="about-text">
                
                <h5>bodybuilding space</h5>
                <p>
                    The bodybuilding space for general physical maintenance, increase in muscle mass as well as a good aesthetic appearance with weights, dumbbells, weight bench ...
                    </p><p>Gain tone, shape your figure, increase your strength, develop your muscle mass ... Whatever your goal, Galaxy Gym provides you with a complete bodybuilding area.
                    </p><p class="hidden">Stations dedicated to bodybuilding await you, guided machines, free training stations, free weights up to 60 kilos, bars ...
                </p>
                <button type="button" class="btn" onclick="unhide()">More</button>
            </div>
        </div>
    </section>

    <section id='activities' class="activities">
      <h2 class='title'>Activities</h2>
      <div class="main">
        <div class="activities-text">
          <h5>BODY PUMP</h5>
          <form >
            <fieldset disabled>
                <legend>Force </legend>
                <br>
                
                <table>
                <tr>
                    <td><h2>Duration: </h2></td>
                    <td><h3>60 min </h3></td>
                </tr>
                <tr>    
                    <td><h2>Materiel: </h2></td>
                    <td><h3>a step,a bar and a set of weights </h3></td>
                </tr>
                
                <tr>
                    <td><h2>Intensity:</label></td>
                    <td><h3>Medium to Strong</h3></td>
                </tr>
    
                <tr>
                    <td><h2>Recommandation: </h2></td>
                    <td><h3>If you are a beginner, start with light weights and follow your coach's instructions </h3></td>
                </tr>
    
            </table>
          </fieldset>
        </form> 
      </div>
          <div>
          <img src="static/media/PUMP-min.png">
          <div class="pagination">
              <a href="#">❮</a>
              <a href="#">❯</a>
            </div>
          </div>

      </div>
  </section>

  <!--------------offers------------>

  <div id='moreinfo' class="service">
    <div class="title">
      <h2>Our Offers</h2>
    </div>
        <table >
          <tr>
        <td><table data-aos="flip-right" class="tab1">
          <tr class="title_table">  
            <td colspan="2"><h5>Basic offer</h5></td></tr>
          <tr>
            <th>Option</th>
            <th>Chicked</th>
          </tr>
          <tr>
            <td>Abdos</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>Cardiovascular</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>Force</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>BOXE</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>TRX</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>Body Pump</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr class='price'>
            <td><label>Price</label></td>
            <td>40 DNT</td>
          </tr>
        
        </table></td>

        <td><table data-aos="flip-right" class="tab2">
          <tr class="title_table">
            <td colspan="2"><h5>Standard offer</h5></td>
          </tr>
          <tr>
            <th>Option</th>
            <th>Chicked</th>
          </tr>
          <tr>
            <td>Abdos</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>Cardiovascular</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>Force</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>BOXE</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>TRX</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>Body Pump</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr class='price'>
            <td><label>Price</label></td>
            <td>50 DNT</td>
          </tr>
        
        </table></td>

        <td><table data-aos="flip-right" class="tab3">
          <tr class="title_table">
            <td colspan="2"><h5>Premium offer</h5></td>
          </tr>
          <tr>
            <th>Option</th>
            <th>Chicked</th>
          </tr>
          <tr>
            <td>Abdos</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>Cardiovascular</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>Force</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>BOXE</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>TRX</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr>
            <td>Body Pump</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: rgb(255, 255, 255);"></td>
          </tr>
          <tr class='price'>
            <td><label>Price</label></td>
            <td>60 DNT</td>
          </tr>
        
        </table></td>



      </tr>
      </table>
      </div>

    </div>
  </div>


  <script>
    AOS.init();
  </script>

  <script>
    function showContent() {
      var temp = document.getElementsByTagName("template")[0];
      var clon = temp.content.cloneNode(true);
      document.body.appendChild(clon);
    }
    </script>

{% endblock %}