{% extends "index.html" %}
{% block body %}
    <section class="about">
        <h2>About</h2>
        <div class="main">
            <div>
            <img src="static/media/Abdo-min.png">
            <div class="pagination">
                <a href="#">❮</a>
                <a href="#">❯</a>
              </div>
            </div>
            <div class="about-text">
                
                <h5>bodybuilding space</h5>
                <p>
                    The bodybuilding space for general physical maintenance, increase in muscle mass as well as a good aesthetic appearance with weights, dumbbells, weight bench ...
                    </p><p>Gain tone, shape your figure, increase your strength, develop your muscle mass ... Whatever your goal, Galaxy Gym provides you with a complete bodybuilding area.
                    </p><p class="hidden">Stations dedicated to bodybuilding await you, guided machines, free training stations, free weights up to 60 kilos, bars ...
                </p>
                <button type="button" class="btn" onclick="unhide()">More</button>
            </div>
        </div>
    </section>

    <section class="activities">
      <h2 class='title'>Activities</h2>
      <div class="main">
        <div class="activities-text">
          <h5>BODY PUMP</h5>
          <form >
            <fieldset>
                <legend>Force </legend>
                <br>
                <table>
                <tr>
                    <td><h2>Duration: </h2></td>
                    <td><h3>60 min </h3></td>
                </tr>
                <tr>    
                    <td><h2>Materiel: </h2></td>
                    <td><h3>a step,a bar and a set of weights </h3></td>
                </tr>
                
                <tr>
                    <td><h2>Intensity:</label></td>
                    <td><h3>Medium to Strong</h3></td>
                </tr>
    
                <tr>
                    <td><h2>Recommandation: </h2></td>
                    <td><h3>If you are a beginner, start with light weights and follow your coach's instructions </h3></td>
                </tr>
    
            </table>
          </fieldset>
        </form> 
      </div>
          <div>
          <img src="static/media/PUMP-min.png">
          <div class="pagination">
              <a href="#">❮</a>
              <a href="#">❯</a>
            </div>
          </div>

      </div>
  </section>

    <script>
     function unhide() {
    // get the clock
    var myClock = document.getElementsByClassName('hidden');

    // get the current value of the clock's display property
    var displaySetting = myClock.style.display;

    // also get the clock button, so we can change what it says
    var clockButton = document.getElementsByClassName('btn');

    // now toggle the clock and the button text, depending on current state
    if (displaySetting == 'block') {
      // clock is visible. hide it
      myClock.style.display = 'none';
      // change button text
      clockButton.innerHTML = 'More';
    }
    else {
      // clock is hidden. show it
      myClock.style.display = 'block';
      // change button text
      clockButton.innerHTML = 'Less';
    }
  }
</script>
{% endblock %}