{% extends "index.html" %}
{% block body %}
<img name="diapo" width="1750" height="750">
<script type="text/javascript" src="script.js"></script>
<div class="Agoragym"> Agora Gym <div class="slogan"> EAT, SLEEP, GYM, REPEAT <i class="fa fa-repeat" style="color: red;"></i>
  </div>
  <p> Agora Gym, The land <br> of fitness is the first <br> chain of fitness clubs <br> in Tunisia with 2 clubs <br> spread over Tunis. </p>
</div>
<div class="checkboxx">
  <div class="form-check" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: red;">
    <label class="form-check-label" for="flexCheckChecked" style="color: red;"> Better Sleep </label>
  </div>
  <div class="form-check" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color:black;border-color: red;">
    <label class="form-check-label" for="flexCheckChecked" style="color: pink;"> Improve Mental Health </label>
  </div>
  <div class="form-check" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color:black;border-color: red;">
    <label class="form-check-label" for="flexCheckChecked" style="color: white;"> Reduce Stress </label>
  </div>
</div>
<div class="navbar1">
  <img src="logo.png" width="150px" style="margin-left:560px">
  <h3 class="hall">SPORT HALL</h3>
</div>
<div class="hallcontent">
  <div class="facilities">In the Agora Gym, you will find top-of-the-range facilities and the best equipment on the market </div>
  <div class="tab">
    <div class="box" data-aos="flip-right">
      <p>TechnoGym <br> Hammer Strength <br> Cybex <br> Yanga Sports <br> Water <br> Sismo Fitness <br>Decathlon </p>
    </div>
    <div class="box" data-aos="flip-right">
      <p>Our facilities are suitable for you to achieve your goals.</p>
      <img src="goal.png" width="195px" style="margin-left:50px">
    </div>
    <div class="box" data-aos="flip-right">
      <p>Our clubs are equipped with the latest generation quality equipment to allow you to surpass yourself in every session. </p>
    </div>
  </div>
</div>
<div id="team">
  <div style="margin-left:46% ;padding-top:30px"><h3 class="hall">TEAM</h3></div>
  <table>
     <tr class ="team1">
        <td><a href="https://www.facebook.com/hazem.bouaziz.9/" data-aos="zoom-in" target="_blank"><img src="hazem.png" width="250px"></a></td>
        <td><a href="https://www.facebook.com/asma.lansari1" target="_blank"><img src="asma.png" width="250px" data-aos="zoom-in"></a></td>
        <td><a href="https://www.facebook.com/mohamedhalim.elleuch" target="_blank"><img src="halim.png" width="250px" data-aos="zoom-in"></a></td>
        <td><a href="https://www.facebook.com/nawfal.guefrachi.77" target="_blank"><img src="nawfal.png" width="250px" data-aos="zoom-in"></a></td>
     </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>

     <tr>
        <td class ="name" data-aos="zoom-in">Hazem Bouaziz</td>
        <td class ="name" data-aos="zoom-in">Asma Lansari</td>
        <td class ="name" data-aos="zoom-in">Halim Elleuch</td>
        <td class ="name" data-aos="zoom-in">Nawfal Guefrachi</td>

     </tr>
        <tr>
        <td class ="fct" data-aos="zoom-in">Bodybuilding coach</td>
        <td class ="fct" data-aos="zoom-in">Dance coach</td>
        <td class ="fct2" data-aos="zoom-in">  Nutritionist </td>
        <td class ="fct2" data-aos="zoom-in">Bodybuilding coach</td>

     </tr>
   
  </table>
  
   
</div>

<div class="navbar1">
<div style="margin-left:42% ;padding-top:15px"><h3 class="hall">Activities</h3>
</div>
</div>

 <div class="act">
  <table>
    <tr>
      <td><img src="equipment.jpg" class="image"></td>
      <td><img src="dance2.jpg" class="image"></td>
    </tr>
    <tr><td><div class="description">Strength training is a discipline that aims to develop and maintain
    the muscle mass of practitioners through physical exercises.
    It helps increase muscle size, strength, endurance,power,
    explosiveness and body resistance</div></td>
      <td><div class="description"> Introduce participants to the following dance benefits: <br>

        
  <div class="form-check" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: red;">
    <label class="form-check-label" for="flexCheckChecked" style="color: white;"> Increased aerobic fitness.Better Sleep </label>
  </div>
      
  <div class="form-check" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: red;">
    <label class="form-check-label" for="flexCheckChecked" style="color:white;"> Improved muscle tone and strength. </label>

  </div>
    
  <div class="form-check" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked style="background-color: black; border-color: red;">
    <label class="form-check-label" for="flexCheckChecked" style="color: white;"> Weight management </label>
  </div>
  </div> 
    </td>
    </tr>
  </table>  
 </div>

<div class="navbar1">
<div style="margin-left:35% ;padding-top:15px"><h3 class="hall">More informations</h3>
</div>
</div>

<div class="hallcontent">

  
    <div style="display: inline-flex; margin-left:150px ;margin-top:100px">
      <i class="fa fa-clock-o" style="font-size: 100px;"></i>
    <div class="hours1">

      Lundi : 06H00 - 23H00<br> <br>
      Mardi : 06H00 - 23H00<br> <br>
      Mercredi : 06H00 - 23H00<br> <br>
      Jeudi : 06H00 - 23H00<br> <br>
      Vendredi : 06H00 - 23H00<br> <br>
      Samedi : 06H00 - 23H00<br> <br>
      Dimanche : 06H00 - 23H00<br> <br>

    </div>


       
     
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d50383.23567857074!2d10.175548129136555!3d36.79470075461058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stn!4v1636583732587!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>
     
  </div>

</div>
{% endblock %}